@font-face {
    font-family: FrankFurter;
    src: url(./Frankfurter\ Std\ Regular.otf);
}

@font-face {
    font-family: Futura;
    src: url(./Futura\ Book\ font.ttf);
}

@font-face {
    font-family: FuturaLight;
    src: url(./futura\ light\ bt.ttf);
}

@font-face {
    font-family: FuturaBold;
    src: url(./futura\ medium\ bt.ttf);
}


body {
    overflow-x: hidden;
}

form input {
    font-family: Futura;
    padding: 1em;
    width: 100vw;
    background-color: #E9F2F5;
    border: none;
    padding-bottom: 2.5em;
    border-bottom: grey;
    outline: none;
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    list-style: none;
}

body {
    font-family: Futura;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: FrankFurter;
    font-size: 2em;
    line-height: 1em;
    margin: 2vh;
}

h2 p {
    font-size: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
}

h3 {
    font-size: 1em;
    text-transform: uppercase;
}

header {
    margin-bottom: 0;
}

ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

nav li {
    padding: 1vh;
    padding-right: 2vw;
    padding-left: 2vw;
}

nav li:nth-of-type(2) img{
    height: 5vh;
    margin-left: 20vw;
}

nav li:nth-of-type(3) {
    margin-left: auto;
}

nav img {

    height: 5vh;
}

header {
    background-color: white;
    position: sticky;
    top: 0em;
    margin-bottom: 5vh;
}

h1 {
    visibility: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0
}

form {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    position: 9 9 9 9;
}

article {
    margin: 2.5vh;
    margin-bottom: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

marquee {
    background-color: rgb(47, 175, 225); 
    padding: 0.75px; 
    margin-bottom: 3vh;
    border: 1px;
    display: inline-block;
}

marquee p {
    margin: 1vh;
    font-size: 0.6em;
    display: inline-block;
    vertical-align: middle; 
    margin-right: 50vw;
}

marquee img {
    padding: 0%;
    height: 5vh;
    width: 5vw;
    display: inline-block; 
    vertical-align: middle;
}

a {
    font-size: 0.75em;
    text-align: center;
    width: 50vw;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

section a {
    border-color: black;
    border: 0.075em;
    border-style: solid;
    padding: 0%;
}

p + a img { 
    width: 10vw;
}

p a {
    margin-top: 10vh;
}

article img {
    margin-bottom: 5vh;
}

article a img {
    width: 15%;
    margin: 1vh;
}

article a {
    line-height: 1em;
    padding: 0.5em;
    font-family: FrankFurter;
    display: flex;
    justify-content: center;
    align-items: center;
}

article:nth-of-type(6) h3 {
    font-family: FuturaBold;
    font-size: 1.75em;
}

article:nth-of-type(6) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
    gap: 0.25em;
}

article ul li {
    max-width: 50vw;
    object-fit: contain;
}

article ul img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

article:nth-of-type(6) {
    margin: 0;
    margin-bottom: 5vh;
}

article:nth-of-type(6) a {
    object-fit: contain;
    margin: 0%;
    padding: 0%;
}

article:nth-of-type(6) img {
    padding: 0%;
    width: 40vw;
}

article:nth-of-type(5) {
    margin: 2.5vh;
    margin-top: 10vh;
}

article:nth-of-type(5) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-right: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

article:nth-of-type(5) a {
    font-size: 0.55em;
    font-family: FuturaLight;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10em;
    border-color: darkblue;
    background-color: darkblue;
    object-fit: contain;
    margin-bottom: 3.5vh;
    padding: 0.5em;
    border-right: 2em;
    line-height: 1.5em;
}

article:nth-of-type(5) li {
    margin-right: 7.5vw;
}

article:nth-of-type(7) h2 {
    font-size: 1.5em;
}

section {
    margin-left: auto;
    margin-right: auto;
}

article:nth-of-type(5) a {
    width: 15em;
    font-size: 0.75em;
   


}

h2 + p {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 10vw;
}

ul:nth-of-type(2) {
    font-family: FrankFurter;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    line-height: 1.5em;
    margin-top: 3.5vh;
}

ul:nth-of-type(2) li {
    margin: 0;
    margin-left: 5vw;
}

form img {
    height: 2.93em;
    border-bottom: grey;
}





.menu {
    height: 0;
    transform: translateX(-1000vw);
}

.showmenu {
   height: 100%;
   transform: translateX(0);
}

.closemenu {
    opacity: 0%;
}

.menu a:hover {
    opacity: 70%;
}

header a:hover img {
   transform: scale(1.2);
   transition: ease-out 0.15s;
}

article:nth-of-type(6) a:hover img {
    transform: scale(1.2);
    rotate: 5deg;
    overflow: hidden;
    transition: ease-out 0.3s;
 }

article a:hover img {
    padding-left: 0.75em;
    transition: ease-out 0.3s;
}

article:nth-of-type(5) a:hover {
    opacity: 70%;
}

article:nth-of-type(1) {
    display: grid;
    margin: 10vw;
}

article:nth-of-type(1) h3 {
    order: -1;
}

article:nth-of-type(1) img {
    order: -2;
}